<div class="booking-holder">
  <!--number of people-->
  <numberOfPeople [show]="manageDropDown" (showOutput)="eventNumberOfPeople($event)"></numberOfPeople>
  <!--<mat-form-field>-->
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  <!--</mat-form-field>-->

  <!--<mat-form-field class="date-picker-holder">-->
    <!--<input matInput  [mdDatepicker]="picker" placeholder="Choose a date" (click)="dataSelected(picker)" class="dateInput" [(ngModel)]="date">-->
    <!--<img src="../../assets/images/arrow.png" (click)="dataSelected(picker)">-->
    <!--<mat-datepicker-toggle  class="toogle-date"  matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--&lt;!&ndash;[(ngModel)]=""&ndash;&gt;-->
    <!--<mat-datepicker #picker (selectedChanged)="calendarHide()" (appClickOutside)="outOut($event)"> </mat-datepicker>-->
  <!--</mat-form-field>-->
  <timeSelection [show]="manageDropDown" (showOutput)="eventTime($event)"></timeSelection>
  <button id="bookBtn" (click)="bookTrip()" *ngIf="manageDropDown.showButton" >Book rickshaw</button>
</div>
