input{
  &.mat-input-element{
    color: black;
  }
  //display: block;
  //height: 50px;
  //width: 240px;
  //margin: 15px 0;
  //background: rgba(0,0,0,0.5);
  //color: white;
  //border:  1px solid #efefef;
  //font-size: 1rem;
  //padding-left: 10px;
}

.date-picker-holder{
  input{
    //padding-left: 20px;
  }
}
.cdk-overlay-container .cdk-overlay-pane{
  //margin-left: 0 !important;
}
.mat-datepicker-toggle{
  .mat-button, .mat-icon-button, .mat-raised-button{
    //color: black;
    //left: 200px;
    //top: -60px;
  }
  .mat-icon-button{
    //color: black !important;
  }
}

//.mat-datepicker-content{
//  background-color: rgba(0, 0, 0, 0.5);
//  .mat-calendar{
//    width: 261px;
//    margin-top: 72px;
//    height: 300px;
//  }
//  .mat-calendar-header{
//    background-color: #ffe1c5 !important;
//    padding: 0 !important;;
//    height: 50px !important;;
//
//    .mat-calendar-controls{
//      margin-bottom: 0 !important;
//    }
//
//  }
//  .mat-calendar-content{
//    padding: 0;
//  }
//
//  .mat-calendar-table-header{
//    margin-bottom: 0;
//    tr{
//      background-color: #ffe1c5 !important;
//
//      th{
//        color: #666666;
//        border: none;
//
//      }
//    }
//  }
//
//}
//.mat-calendar-body-cell-content{
//  color: #b4b4b4;
//}
//.mat-calendar-body-selected{
//  font-weight: bold;
//  background: none;
//  border: none;
//
//}
//.mat-calendar-body-label{
//  visibility: hidden;
//}
.mat-select-content{
  background: none;
  padding: 0;
}
.mat-select-panel-done-animating{
  background: rgba(0,0,0,0.4) !important;
  min-width: 100% !important;
  &::-webkit-scrollbar{
    background: rgba(0,0,0,0.1) !important;
  }
  &::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.1) !important;

  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3) !important;
  }


}
//.mat-floating-placeholder{
//  top: -40px !important;
//}
//.cdk-overlay-container{
//  .cdk-overlay-pane{
//    top: 285px !important;
//    margin-left: 15px;
//  }
//}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    white;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    white;
}

.drop-down-holder{


  ul{
    display: none;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    padding: 0;
    border: 1px solid #8c8c8c;
    border-top: 0;
    list-style: none;
    max-height: 140px;
    overflow-y: scroll;
    &.isActive{
      display: block;
    }
    &::-webkit-scrollbar{
      background: rgba(0,0,0,0.1) !important;
    }
    &::-webkit-scrollbar-track{
      background: rgba(0,0,0,0.1) !important;

    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.3) !important;
    }
    li{
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
.custom-drop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #8c8c8c;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  min-width: 200px;
  p{
    margin: 0;
  }
  img{
    margin-left: 20px;
    height: 13px;
  }

}
